section{
    display: flex;
    position: absolute;
}

h2{
    color: white;
    font-size: 80px;
}

p{
    color: white;
}

.about-me-text{
    width: 800px;
    padding-left: 200px;
    padding-top: 100px;
}