section {
  display: flex;
}

h1 {
  color: white;
  font-size: 60px;
  font-family: bold;
}

h2 {
  color: rgb(139, 17, 240);
  font-size: 42px;
}

h3 {
  color: white;
  transform: rotate(270deg);
  transform-origin: left top;
  display: inline-block;
  position: absolute;
  font-size: 45px;
  top: 115px;
  left: -65px;
}

.hero-text {
  display: flex;
  flex-direction: column;
  top: 250px;
  left: 700px;
  position: absolute;
}

.hero-picture {
  display: flex;
  position: absolute;
  top: 120px;
  left: 140px;
  height: 600px;
}

.bkg-hero {
  display: flex;
  position: absolute;
  width: 100%;
  top: 180px;
}

.links-above-the-fold {
  display: flex;
  position: absolute;
  align-items: center;
  gap: 30px;
  top: 850px;
  left: 0;
  > a {
    color: white;
    text-decoration: none;
    font-size: 20px;
  }
  &:hover {
    > a {
      cursor: pointer;
    }
  }

  > img:hover {
    transform: scale(1.6) translateX(4px);
    transition: transform 0.2s ease;
  }
}

.seperator-above-the-fold {
  height: 3px;
  width: 85px;
  background-color: rgb(139, 17, 240);
}

.scroll-down {
  color: white;
  display: flex;
  font-size: 28px;
  right: 0px;
  transform: rotate(90deg);
  transform: 180deg;
  transform-origin: left top;
  display: inline-block;
  position: absolute;
  top: 680px;
}
