section {
  display: flex;
  height: 100vh;
}

h1 {
  color: white;
  font-size: 70px;
  font-family: bold;
}

h2 {
  color: rgb(139, 17, 240);
  font-size: 50px;
}

h3 {
  color: white;
  transform: rotate(270deg);
  transform-origin: left top;
  display: inline-block;
  position: absolute;
  font-size: 55px;
  top: 140px;
  left: -80px;
}

.hero-text {
  display: flex;
  flex-direction: column;
  top: 250px;
  left: 900px;
  position: absolute;
}

.hero-picture {
  display: flex;
  position: absolute;
  z-index: 1;
  top: 120px;
  left: 140px;
  height: 600px;
}

.bkg-hero {
  display: flex;
  position: absolute;
  background-size: auto;
  width: 1980px;
  height: 500px;
  top: 500px;
}

.button-lets-talk {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
  font-size: 18px;
  width: 150px;
  height: 50px;
  border-radius: 8px;
  background-color: rgb(112, 230, 28);
  transition: transform 0.2s ease;

  &:hover {
    background-color: rgb(139, 17, 240);
    transform: scale(1.15);
    cursor: pointer;
  }
}

.button-position-lets-talk {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.links-above-the-fold {
  display: flex;
  position: absolute;
  align-items: center;
  gap: 30px;
  top: 850px;
  left: 0;
  > a {
    color: white;
    text-decoration: none;
    font-size: 20px;
  }
  &:hover {
    > a {
      cursor: pointer;
      > img:hover {
        transform: scale(1.6) translateX(4px);
        transition: transform 0.2s ease;
      }
    }
  }
  > span {
    color: white;
    font-size: 20px;
  }
}

.seperator-above-the-fold {
  height: 3px;
  width: 85px;
  background-color: rgb(139, 17, 240);
}

.scroll-down {
  color: white;
  display: flex;
  font-size: 28px;
  right: 0px;
  transform: rotate(90deg);
  transform: 180deg;
  transform-origin: left top;
  display: inline-block;
  position: absolute;
  top: 680px;
}

@media (max-width: 1500px) {
  .hero-text {
    top: 250px;
    left: 700px;
  }
}

@media (max-width: 1300px) {
  .hero-text {
    top: 250px;
    left: 700px;
  }
  h1 {
    font-size: 50px;
  }

  h2 {
    font-size: 30px;
  }

  h3 {
    font-size: 40px;
    top: 100px;
    left: -60px;
  }
}

@media (max-width: 1100px) {
  .hero-text {
    top: 750px;
    left: 310px;
  }
  .links-above-the-fold {
    gap: 30px;
    top: 1000px;
    left: 0;
  }
  .scroll-down {
    display: none;
  }
}

@media (max-width: 1100px) {

  .hero-picture {
    display: flex;
    position: absolute;
    z-index: 1;
    top: 250px;
    left: 140px;
    height: 450px;
  }

  .bkg-green-violet-picture {
    height: 700px;
    width: 700px;
    display: flex;
    position: absolute;
    top: 170px;
  }
  .hero-text {
    left: 240px;
  }
}

@media (max-width: 720px) {
  .hero-picture {
    display: flex;
    position: absolute;
    z-index: 1;
    top: 250px;
    left: 100px;
    height: 450px;
  }

  .bkg-green-violet-picture {
    height: 600px;
    width: 600px;
    display: flex;
    position: absolute;
    top: 180px;
  }
  .hero-text {
    left: 170px;
  }
}

@media (max-width: 650px) {
  .hero-picture {
    display: flex;
    position: absolute;
    z-index: 1;
    top: 250px;
    left: 100px;
    height: 300px;
  }

  .bkg-green-violet-picture {
    height: 500px;
    width: 500px;
    display: flex;
    position: absolute;
    top: 200px;
  }
  .hero-text {
    left: 120px;
    top: 600px;
  }

  .bkg-hero {
  top: 350px;
}

 .links-above-the-fold {
    gap: 20px;
    top: 850px;
    left: 0;
  }
}

@media (max-width: 550px) {
  .hero-picture {
    display: flex;
    position: absolute;
    z-index: 1;
    top: 250px;
    left: 10px;
    height: 280px;
  }

  .bkg-green-violet-picture {
    height: 320px;
    width: 320px;
    display: flex;
    position: absolute;
    top: 250px;
  }
  .hero-text {
    left: 50px;
    top: 580px;
  }
  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 22px;
  }

  h3 {
    font-size: 30px;
    top: 75px;
    left: -45px;
  }

  .bkg-hero {
  top: 330px;
}


}
