section {
  padding-top: 200px;
}

.portfolio-seperator-h2-container-position {
  width: 100%;
  display: flex;
  align-items: end;
  flex-direction: column;

  > p {
    color: white;
    justify-content: center;
    padding-right: 650px;
  }
}

.portfolio-seperator-h2-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding-bottom: 20px;
}

.seperator-left-portfolio {
  height: 3px;
  width: 100px;
  background-color: rgb(139, 17, 240);
}

h2 {
  color: white;
  font-size: 80px;
}

.seperator-right-portfolio {
  height: 3px;
  width: 800px;
  background-color: rgb(139, 17, 240);
}

.projects-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 150px;

  > img {
    width: 400px;
    height: 400px;
  }
}

.project-card {
  width: 550px;
  > h3 {
    font-size: 46px;
    color: rgb(139, 17, 240);
  }
  > span {
    color: rgb(112, 230, 28);
    font-size: 28px;
  }
  > p {
    color: white;
    font-size: 18px;

    .highlight {
      color: salmon;
    }
  }
}

.buttons-portfolio-position {
  display: flex;
  justify-content: start;
  gap: 65px;
  padding-top: 18px;
}

.button-live-test {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: white;
  font-size: 18px;
  width: 170px;
  height: 55px;
  border-radius: 8px;
  background-color: rgb(139, 17, 240);
  transition: transform 0.2s ease;

  &:hover {
    background-color: rgb(112, 230, 28);
    transform: scale(1.15);
    cursor: pointer;
  }
}

.button-github {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: white;
  font-size: 18px;
  width: 170px;
  height: 55px;
  border-radius: 8px;
  border: 2px solid rgb(112, 230, 28);
  background-color: rgb(20, 29, 47);
  transition: transform 0.2s ease;

  &:hover {
    background-color: rgb(112, 230, 28);
    transform: scale(1.15);
    cursor: pointer;
  }
}
