section {
  padding-bottom: 250px;
}

.portfolio-seperator-h2-container-position {
  width: 100%;
  display: flex;
  align-items: end;
  flex-direction: column;

  > p {
    color: white;
    justify-content: center;
    padding-right: 650px;
  }
}

.portfolio-seperator-h2-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding-bottom: 20px;
}

.purple-portfolio-contact {
  display: flex;
  position: absolute;
  top: 2800px;
  transform: rotate(-55deg) translate(-30%);
  width: 50vw;
  max-width: 450px;
  height: auto;
  z-index: -1;
  pointer-events: none;
}

.seperator-left-portfolio {
  height: 3px;
  width: 100px;
  background-color: rgb(139, 17, 240);
}

h2 {
  color: white;
  font-size: 80px;
}

.seperator-right-portfolio {
  height: 3px;
  width: 800px;
  background-color: rgb(139, 17, 240);
}

.projects-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 150px;

  > img {
    width: 400px;
    height: 400px;
  }
}

.pollo-loco-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 150px;

  > img {
    width: 400px;
    height: 400px;
  }
}

.project-card {
  width: 550px;
  > h3 {
    font-size: 46px;
    color: rgb(139, 17, 240);
  }
  > span {
    color: rgb(112, 230, 28);
    font-size: 28px;
  }
  > p {
    color: white;
    font-size: 18px;
  }
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
  cursor: not-allowed;
}

.buttons-portfolio-position {
  display: flex;
  justify-content: start;
  gap: 65px;
  padding-top: 18px;
}

.button-live-test {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: white;
  font-size: 18px;
  width: 170px;
  height: 55px;
  border-radius: 8px;
  background-color: rgb(139, 17, 240);
  transition: transform 0.2s ease;

  &:hover {
    background-color: rgb(112, 230, 28);
    transform: scale(1.15);
    cursor: pointer;
  }
}

.button-github {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: white;
  font-size: 18px;
  width: 170px;
  height: 55px;
  border-radius: 8px;
  border: 2px solid rgb(112, 230, 28);
  background-color: rgb(20, 29, 47);
  transition: transform 0.2s ease;

  &:hover {
    background-color: rgb(112, 230, 28);
    transform: scale(1.15);
    cursor: pointer;
  }
}

@media (min-width: 1980px) {
  .purple-portfolio-contact {
  transform: rotate(-170deg) translate(0%, 62%);
}

}

@media (max-width: 1700px) {
  .seperator-right-portfolio {
    width: 600px;
  }

  .portfolio-seperator-h2-container-position {
    > p {
      padding-right: 450px;
    }
  }
}

@media (max-width: 1500px) {
  .seperator-right-portfolio {
    width: 500px;
  }
  .portfolio-seperator-h2-container-position {
    > p {
      padding-right: 350px;
    }
  }
}

@media (max-width: 1300px) {
  .seperator-right-portfolio {
    width: 400px;
  }
  .portfolio-seperator-h2-container-position {
    > p {
      padding-right: 250px;
    }
  }
  .projects-container {
    gap: 100px;
  }
}

@media (max-width: 1150px) {
  .seperator-right-portfolio {
    width: 300px;
  }
  .portfolio-seperator-h2-container-position {
    > p {
      padding-right: 150px;
    }
  }

  .project-card {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  h3 {
    text-align: center;
  }
  .projects-container {
    flex-direction: column;
    padding-bottom: 80px;
    gap: 0;
  }
  .pollo-loco-container {
    flex-direction: column-reverse;
  }
}

@media (max-width: 900px) {
  section {
  padding-bottom: 200px;
}
  .seperator-right-portfolio {
    width: 250px;
  }
  .portfolio-seperator-h2-container-position {
    > p {
      padding-right: 100px;
    }
  }
}

@media (max-width: 800px) {
  .seperator-right-portfolio {
    width: 170px;
  }
  .seperator-left-portfolio {
    width: 50px;
  }
  h2 {
    font-size: 60px;
  }
  .portfolio-seperator-h2-container-position {
    > p {
      padding-right: 100px;
      font-size: 16px;
      width: 500px;
    }
  }

  .purple-portfolio-contact {
  top: 4500px;
}
}

@media (max-width: 650px) {
  .pollo-loco-container {
    > img {
      width: 300px;
      height: 300px;
    }
  }
  .projects-container {
    > img {
      width: 300px;
      height: 300px;
    }
  }

  .project-card {
    width: 400px;
    > h3 {
      font-size: 32px;
    }
    > span {
      font-size: 18px;
    }
    > p {
      font-size: 16px;
    }
  }
}

@media (max-width: 600px) {
  .seperator-right-portfolio {
    width: 100px;
  }
}

@media (max-width: 550px) {
  .portfolio-seperator-h2-container-position {
    > p {
      padding-right: 50px;
      font-size: 16px;
      width: 400px;
    }
  }
}

@media (max-width: 500px) {
  .seperator-right-portfolio {
    width: 50px;
  }
  .projects-container {
    > img {
      width: 300px;
      height: 300px;
    }
  }

  .project-card {
    width: 350px;
  }

  .buttons-portfolio-position {
    gap: 45px;
    padding-top: 18px;
  }

  .button-live-test {
    width: 140px;
    height: 45px;
  }

  .button-github {
    width: 140px;
    height: 45px;
  }
}

@media (max-width: 450px) {
  .seperator-right-portfolio {
    width: 50px;
  }

  h2 {
    font-size: 50px;
  }
  .portfolio-seperator-h2-container {
    gap: 15px;
  }

  .portfolio-seperator-h2-container-position {
    > p {
      padding-right: 30px;
      width: 350px;
    }
  }
  .projects-container {
    > img {
      width: 300px;
      height: 300px;
    }
  }

  .project-card {
    width: 285px;
  }

  .buttons-portfolio-position {
    gap: 35px;
    padding-top: 18px;
  }

  .button-live-test {
    width: 100px;
    height: 45px;
  }

  .button-github {
    width: 100px;
    height: 45px;
  }
}

@media (max-width: 400px) {
  .seperator-right-portfolio {
    width: 50px;
  }

  h2 {
    font-size: 40px;
  }

  .portfolio-seperator-h2-container-position {
    > p {
      padding-right: 15px;
      width: 275px;
    }
  }
}
