section{
     background-color: rgb(20, 29, 47);
     padding-top: 75px;
     padding-bottom: 75px;

    display: flex;
    justify-content: center;
    align-items: center;
    >div{
        display: flex;
        flex-direction: column;
        gap: 22px;
        border: 2px solid rgb(112, 230, 28);
        color: rgb(139, 17, 240);
        padding: 46px;
        border-radius: 12px;
    }
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  .content {
    display: flex;
    justify-content: center;
  flex: 1; 
}
}

h1, h2 {
    font-size: 20px;    
}

p {
    font-size: 18px;
    color: white;
}

@media (min-width: 1980px) {
  
}