section {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-top: 200px;
   position: relative; 
  isolation: isolate; 

   &::before {
    content: "";
    position: absolute;
    background-image: url("/img/green-my-skills-portfolio-section.png");
    bottom: -500px;
    left: -400px;
    width: 800px;
    height: 800px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom left;
    pointer-events: none;
    pointer-events: none;
    z-index: -1;
}
}

.div-technologies {
  display: grid;
  max-width: 800px;
  padding-left: 130px;
  gap: 50px;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  justify-items: center;

  > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    img {
      width: 65px;
      height: 65px;
    }

    &:hover img {
      animation: hop 0.6s ease-out;
    }

    span {
      margin-top: 12px;
      color: white;
    }
  }
}

h2 {
  color: white;
  font-size: 80px;
}

.seperator-my-skills {
  height: 3px;
  width: 170px;
  background-color: rgb(139, 17, 240);
}

.my-skills-text {
  display: flex;
  align-items: center;
  gap: 150px;
}

.my-skills-text-contant {
  display: flex;
  flex-direction: column;
  align-items: end;
  width: 400px;

  p {
    color: white;
    padding-bottom: 12px;
  }

  span {
    color: white;
    font-size: 31px;
    padding-bottom: 12px;
    padding-right: 7px;

    .highlight{
      color: rgb(139, 17, 240);
    }
  }

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 18px;
    width: 170px;
    height: 55px;
    margin-top: 20px;;
    border-radius: 8px;
    background-color: rgb(112, 230, 28);
    transition: transform 0.2s ease, background-color 0.2s ease;
    transform-origin: top right;

    &:hover {
      background-color: rgb(139, 17, 240);
      transform: scale(1.15);
      cursor: pointer;
    }
  }
}

@keyframes hop {
  0% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}
