* {
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: rgb(20, 29, 47);
  display: flex;
  flex-direction: column;
  margin: 0;
}

.button-lets-talk {
  color: white;
  font-size: 18px;
  width: 150px;
  height: 50px;
  border-radius: 8px;
  background-color: rgb(112, 230, 28);
   transition: transform 0.2s ease;

  &:hover {
    background-color: rgb(139, 17, 240);
    transform: scale(1.15);
    cursor: pointer;
  }
}

.button-position-lets-talk {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}
